# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
*.err
local_settings.py
db.sqlite3
db.sqlite3-journal

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
setenv.bat

# Editors
.vscode/
.idea/

# Redis scratchpad
src/dump.rdb

#Configs
src/shared_data
src/media/property_images/*.jpg
src/media/property_images/*.jpeg
src/media/property_images/*.png
src/media/property_images/*.gif
src/media/property_images/*.avif


src/media/property_images/previews/*.jpg
src/media/property_images/previews/*.jpeg
src/media/property_images/previews/*.png
src/media/property_images/previews/*.gif
src/media/property_images/previews/*.avif


src/media/property_images/thumbnails/*.jpg
src/media/property_images/thumbnails/*.jpeg
src/media/property_images/thumbnails/*.png
src/media/property_images/thumbnails/*.gif
src/media/property_images/thumbnails/*.avif


src/media/property_images/originals/*.jpg
src/media/property_images/originals/*.jpeg
src/media/property_images/originals/*.png
src/media/property_images/originals/*.gif
src/media/property_images/originals/*.avif


src/media/agentimage/citizenship_back_image/*.jpg
src/media/agentimage/citizenship_back_image/*.jpeg
src/media/agentimage/citizenship_back_image/*.png
src/media/agentimage/citizenship_back_image/*.gif
src/media/agentimage/citizenship_back_image/*.avif


src/media/agentimage/citizenship_front_image/*.jpg
src/media/agentimage/citizenship_front_image/*.jpeg
src/media/agentimage/citizenship_front_image/*.png
src/media/agentimage/citizenship_front_image/*.gif
src/media/agentimage/citizenship_front_image/*.avif


src/media/agentimage/profile_picture/*.jpg
src/media/agentimage/profile_picture/*.jpeg
src/media/agentimage/profile_picture/*.png
src/media/agentimage/profile_picture/*.gif
src/media/agentimage/profile_picture/*.avif


src/media/*
src/*.json
src/static/*
src/**/*.ini
# MacOS Stuff
.DS_Store

# css/js
src/templates/admin/docs/css/
src/templates/admin/docs/img/
src/templates/admin/docs/js/
.rabbit/*
.static/*
 